$color_1: #fff;
$color_2: #ececec;
$color_3: #111;

/* Default styles*/
html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
	&::before {
		box-sizing: inherit;
	}
	&::after {
		box-sizing: inherit;
	}
}

#root {
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
}

body {
	min-height: 100vh;
	margin: 0;
}


/* Todo list app styles  */
.todo-list-app {
	display: flex;
	flex-flow: column nowrap;
	padding-top: 32px;
	width: 100%;
	max-width: 480px;
}

/* Todo form styles */
.todo-form {
	input {
		border: 1px solid #ececec;
		padding: 0 14px;
		width: 82%;
		height: 48px;
    transition: .25s border ease-in-out;
    border-radius: 5px;
		&:focus {
			outline: 0;
      border: 1px solid #3498db;

    }
  }

  button {
    padding: 0 14px;
    vertical-align: auto;
    height: 48px;
    display: inline-flex;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #3498db;
    background: #3498db;
    border: 4px solid #3498db;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    &:hover {
      color: white;
      background: #3498db;
      border-radius: 20px;
      border: 1px solid #3498db;
      transition: all 0.3 ease 0s;
    }
    &:active {
      box-shadow: inset 0 2px 5px #2370FE;
    }
  }

	&+.todo-list {
		ul {
			.todo-item {
				border-top: 0;
			}
		}
	}
}

/* Todo item styles */
.todo-item {
	border: 1px solid #ececec;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	padding: 8px;
	input {
		width: 100%;
		border: 0;
		border-bottom: 1px solid transparent;
		transition: .25s border-bottom ease-in-out;
		&:focus {
			outline: 0;
			border-bottom: 1px solid #3498db;
		}
  }

	.todo-input-error {
		border-bottom: 1px solid #e74c3c;
  }

	span {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		border: 1px solid #ececec;
		transition: .25s all ease-in-out;
	}
}

/* Todo list styles */
.todo-list {
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		list-style-type: none;
	}
}

.todo-item-input-wrapper {
	flex-grow: 1;
	padding: 0 16px;
}

.todo-item-unchecked {
	&:hover {
		background: hsla(168, 76%, 42%, .25);
		border: 1px solid hsla(168, 76%, 42%, .25);
	}
}

.todo-item-checked {
	color: $color_1;
	background: #1abc9c;
	border: 1px solid #1abc9c;
}

.item-remove {
	display: flex;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 28px;
	cursor: pointer;
	line-height: 1;
	color: $color_2;
	transition: .25s color ease-in-out;
	&:hover {
		color: $color_3;
	}
}
